.button-set > div {
    margin: 7px;
}

.main-alert {
    background-color: #F44336;
    color: #fff;
    padding: 30px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 2;
}
